################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/docs/.vs
/docs/obj
/docs/Properties
*.bak
*.lnk
/Projects/ShowCase/VirtualDesktop/*.lps
